[build]
  command = "npm run build:client"
  functions = "netlify/functions"
  publish = "dist/spa"
  environment = { SECRETS_SCAN_OMIT_KEYS = "PING_MESSAGE,REVIEW_ID,VITE_PUBLIC_BUILDER_KEY" }


[functions]
  external_node_modules = ["express"]
  node_bundler = "esbuild"
  
[[redirects]]
  force = true
  from = "/api/*"
  status = 200
  to = "/.netlify/functions/api/:splat"
